body{
    margin: 0 auto;
    font-family: 'Roboto';
}

img{
    width: 100%;
}

.text-header{
    color: white;
    position: relative;
    bottom: 800px;
    left: 10%;
    width: 550px;
}

.text-header h1{
    font-size: 120px;
}

.number{
    font-weight: lighter ;
    color: #D4AF37;
}

.text-header p{
    font-size: 45px;
    position: absolute;
    top: 70%;
    left: 20%;
}

 .text-header .bethesda{
    position: absolute;
    top: 110%;
    background-color: #D4AF37;
    width: 70px;
    height: 222px;
    text-align: center;
    writing-mode: sideways-lr;
    
}

.bethesda h2 {
    font-size: 36px;
    position: relative;
    transform: rotate(270deg);
    top: 110px;
}

.bethesda p{
    text-orientation: mixed;
}

.container-text{
    position: relative;
    bottom: 150px;
    font-size: 36px;
    width: 72%;
    margin-left: 18%;
}

.ul-light{
    font-weight: lighter;
}
.mark-yellow{
    color: #D4AF37;
}

.gras{
    font-weight: bold;
}

.li-margin {
    margin-left: 35px;
  }

  .bar{
      width: 10px;
      height: 820px;
      background-color: #D4AF37;
      margin-left: 12%;
      position: absolute;
      top: 1250px;
      border-radius: 3px;
  }

  footer {
    height: 250px;
    background-color: rgb(26, 26, 26);
  }

  .container-footer {
    text-align: center;
    position: relative;
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    color: #FFF;
    padding-top: 5%;
  }

  .fallout-guy {
    height: 210px;
    width: 210px;
  
    position: absolute;
    bottom: 45px;
    left: 100px;
  }
  
  .fallout-icon {
    height: 210px;
    width: 210px;
    position: absolute;
    top: -80px;
    right: 100px;
    font-family: 'Roboto', sans-serif;
  }
  
  .fallout-icon-text {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 25px;
    color: black;
    width: 170px;
  }
  
  @media screen and (max-width: 1890px){
    .bethesda{
        width: 222px;
        height: 70px;
        
    }
    .bar{
        display: none;
    }
  }
  
  @media screen and (max-width: 1500px) {

      .text-header{
          margin-top: 20%;
      }
  }

  @media screen and (max-width: 1100px) {
    .text-header p{
        font-size: 2em;
        margin-top: 10%;
    }

    .text-header h1{
        font-size: 5em;
    }

    .text-header{
        margin-top: 40%;
    }
  }

  @media screen and (max-width: 840px){
    .text-header p{
        font-size: 1.8em;
        margin-top: 10%;
    }

    .text-header h1{
        font-size: 4em;
    }

    .text-header{
        margin-top: 50%;
    }
    .container-text {
        margin-top: 200px;
        position: relative;
        bottom: 500px;
        font-size: 1.7rem;
        text-align: justify;
    }
  }

  @media screen and (max-width: 750px){
    .text-header{
        margin-top: 65%;
    }

    .text-header p{
        font-size: 1.5em;
        margin-top: 10%;
        margin-left: -8%;
    }

    .text-header h1{
        font-size: 3em;
        padding-left: 30px;
    }

    .text-header .bethesda{
        position: absolute;
        top: 110%;
        background-color: #D4AF37;
        width: 42px;
        height: 170px;
        text-align: center;
        writing-mode: sideways-lr;
        font-size: 9px;
    }
    .container-text {
        position: relative;
        bottom: 500px;
        font-size: 2rem;
        text-align: justify;
    }

    .bethesda{
        writing-mode: horizontal-tb;
    }
  }

  @media screen and (max-width: 690px){
    .text-header{
        margin-top: 80%;
        width: 240px;
    }

    .text-header{
        margin-top: 80%;
        width: 250px;
        
    }

    .text-header .bethesda{
        position: absolute;
        top: 340%;
        background-color: #D4AF37;
        width: 119px;
        height: 42px;
        text-align: center;
        writing-mode: horizontal-tb;
        font-size: 9px;
        left: 50px;
    }
    
    .container-text {
        position: relative;
        bottom: 500px;
        font-size: 1.7rem;
        text-align: justify;
    }

    .fallout-icon {
            display: none;
      }

      .fallout-guy{
            display: none;
      }

      .container-footer p {
        position: relative;
        top: 200px;
      }
    }

  @media screen and (max-width: 600px){ 
    .text-header{
        margin-top: 100%;

    }
    .container-text {
        position: relative;
        bottom: 500px;
        font-size: 1.5rem;
        text-align: justify;
    }
  }

  @media screen and (max-width: 530px){
    .text-header{
        margin-top: 105%;
    }
  }

  @media screen and (max-width: 450px){
    .text-header{
        margin-top: 130%;
        font-size: 0.6em;
    }

    .container-text {
        position: relative;
        bottom: 500px;
        font-size: 1.5rem;
        text-align: justify;
    }
    
    footer{
        height: 300px;
        
    }

    section{
        height: 1200px;
    }

    .text-header .bethesda{
        position: absolute;
        top: 360%;
        background-color: #D4AF37;
        width: 100px;
        height: 25px;
        text-align: center;
        writing-mode: horizontal-tb;
        font-size: 6px;
        left: 30px;
    }
  }